@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
/* all */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f5f9;
}

input,
button,
textarea,
select {
  font: inherit;
}

li[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

input {
  height: 60px;
  border: none;
  border-radius: 3px;
  padding: 0 25px;
  font-size: 18px;
}

input::placeholder {
  color: #e5e5e5;
}

.wrapper {
  width: 1410px;
  height: 100%;
  margin: 0 auto;
}

/* buttons */

.btn:not(:disabled) {
  cursor: pointer;
}

.btn-icon {
  border: none;
  background-color: transparent;
}

.btn_white-border {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.btn_white-border:hover {
  background-color: #ffca62;
  border: 1px solid #ffca62;
  border-radius: 5px;
  color: black;
}

.btn_white-border:active {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  color: black;
}

.btn_orange-black {
  background-color: #ffa800;
  border: 1px solid #ffa800;
  border-radius: 5px;
  color: black;
}

.btn_orange-black:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_orange-black:active {
  background-color: transparent;
  color: #ffa800;
}

.btn_orange-white {
  background-color: #ffa800;
  border: 1px solid #ffa800;
  border-radius: 5px;
  color: white;
}

.btn_orange-white:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_orange-white:active {
  background-color: transparent;
  color: #ffa800;
}

.btn_orange-white:disabled {
  background-color: #918f94;
}

.btn_black-border {
  font-weight: 700;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
}

.btn_black-border:hover {
  color: #ffa800;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_black-border:active {
  background-color: #ffa800;
  color: black;
}

/* header */

.header {
  position: relative;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-size: cover;
}

.header.header-main {
  background-image: url(./images/header/header-main.png);
  height: 985px;
  border-bottom: 8px solid #ffa800;
}

.header.header-routes {
  background-image: url(./images/header/header-routes.png);
  height: 690px;
}

.header__logo-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}

.header__logo {
  font-weight: 900;
  font-size: 36px;
  color: white;
  padding: 15px 0;
}

.header__navbar {
  background-color: #292929;
  height: 95px;
}

.header__navbar ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar__item {
  font-size: 30px;
  font-weight: 300;
  color: white;
  margin-right: 80px;
}

.navbar__item:last-child {
  margin-right: 0;
}

.header-routes {
  display: flex;
  flex-direction: column;
}

.header-main__block {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: inherit;
  bottom: 0;
}

.header-routes__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.header-main__block__route-selector,
.header-routes__block__route-selector {
  background-color: rgba(41, 41, 41, 0.8);
}

.header-main__block__route-selector {
  padding: 85px 25px 53px 20px;
  margin-right: -25px;
}

.route-selector_routes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 1490px;
  height: 323px;
  padding: 28px 43px 76px 43px;
}

.route-selector_routes .route-selector__submit-button {
  align-self: flex-end;
  margin-left: auto;
}

.route-selector input {
  width: 325px;
  outline: none;
  background-repeat: no-repeat;
  background-position: right 17px center;
}

.route-selector__row {
  position: relative;
}

.route-selector_main .route-selector__row {
  margin-bottom: 68px;
}

.route-selector_main .route-selector__row:last-child {
  margin-bottom: 92px;
}

.route-selector__city-list {
  position: absolute;
  width: 325px;
  top: 122px;
  font-size: 18px;
  text-transform: uppercase;
  background: #f5f4f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 15px 0;
  z-index: 100;
}

.route-selector__city-list__item {
  padding: 5px 25px;
}

.route-selector__city-list__item:hover {
  background-color: #E4E0E9;
  cursor: pointer;
}

.route-selector__city-list__item:not(:last-child) {
  /* margin-bottom: 10px; */
}

/* input:focus + .route-selector__city-list {
  display: block;
} */

.route-selector__swapper {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(./images/icons/swap.svg);
  bottom: calc(30px - 12px);
  left: calc(50% - 12px);
}

.header-main__block__tagline {
  color: white;
  font-weight: 200;
  font-size: 72px;
  padding-top: 170px;
  padding-left: 100px;
}

.tagline_bold {
  font-weight: 700;
}

.route-selector__direction-from,
.route-selector__direction-to {
  background-image: url(./images/icons/point.svg);
}

.route-selector__date-from,
.route-selector__date-to {
  background-image: url(./images/icons/calendar.svg);
}

.route-selector__direction-from,
.route-selector__date-from {
  margin-right: 37px;
}

.route-selector__direction-title,
.route-selector__date-title {
  color: white;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.route-selector__submit-button {
  width: 325px;
  height: 60px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
}

.header-routes__block__stages {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100px;
  width: 1490px;
}

.stages-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to right, #ffa800 50%, #3e3c41 50%);
  overflow: hidden;
}

.stages__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
  background-color: #3e3c41;
}

.stages__item:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  transform: rotate(45deg) skew(10deg, 10deg);
  background-color: #3e3c41;
  right: -30px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-top-right-radius: 3px;
  z-index: 100;
}

.stages__item_active:not(:last-child)::after {
  background-color: #ffa800;
}

.stages__item_active {
  background-color: #ffa800;
}

.stages__item__count {
  width: 56px;
  height: 56px;
  font-size: 36px;
  line-height: 140%;
  border: 3px solid white;
  border-radius: 50%;
  margin-right: 23px;
}

/* datepicker (override react-datepicker styles) */

.react-datepicker__day-names {
  display: none;
}

.react-datepicker__current-month {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
}

.react-datepicker__navigation {
  top: 7px;
}

.react-datepicker__day {
  width: 35px;
  height: 35px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  line-height: 35px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin: 0.3rem;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--selected {
  background-color: rgba(255, 168, 0, 0.31);
  color: black;
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover,
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  border: 2px solid #ffa800;
  background-color: rgba(255, 168, 0, 0.31);
}

.react-datepicker__day:not(.react-datepicker__day--disabled):hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border: 2px solid #ffa800;
  background-color: transparent;
}

.react-datepicker-wrapper {
  width: auto;
}

.react-datepicker__header {
  background-color: white;
}

.react-datepicker__day--disabled {
  color: #808080;
}

.react-datepicker__day--outside-month {
  color: #e6e6e6;
}

.react-datepicker__week .react-datepicker__day:last-child {
  font-weight: 500;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle::after {
  border-bottom-color: white;
}

/* about */

.homepage-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
}

.about {
  margin-top: 145px;
  margin-bottom: 125px;
}

.about__title {
  margin-bottom: 40px;
}

.about__body {
  position: relative;
  padding-left: 30px;
  max-width: 1170px;
  border-left: 9px solid #ffa800;
}

.about__paragraph {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__paragraph_important {
  font-weight: 700;
}

/* how-it-works */

.how-it-works {
  background-image: url(./images/howitworks/background.png);
  background-color: #ffd600;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 70px;
  padding-bottom: 110px;
  margin-bottom: 150px;
}

.how-it-works__header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 90px;
}

.how-it-works__learn-more {
  width: 325px;
  font-weight: 700;
  font-size: 24px;
}

.how-it-works__body {
  display: flex;
  justify-content: space-between;
  width: 915px;
  margin: 0 auto;
}

.how-it-works__body__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
}

.how-it-works__body__card__image {
  margin-bottom: 30px;
}

.how-it-works__body__card__desc {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

/* reviews */

.reviews {
  margin-bottom: 145px;
}

.reviews__title {
  margin-bottom: 70px;
}

.review-card {
  display: flex;
  align-items: center;
}

.review-card__avatar {
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 30px;
}

.review-card__body {
  width: 400px;
}

.review-card__body__name {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

.review-card__body__text {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: #928f94;
}

/* slider (override react-slick styles) */

.slick-track {
  margin-bottom: 135px;
}

.slick-dots li button {
  border-radius: 50%;
  background-color: #e5e5e5;
}

.slick-dots li.slick-active button {
  background-color: #c4c4c4;
}

.slick-dots li button:before {
  content: '';
}

/* footer */

.footer {
  background-color: #2d2b2f;
  color: #e5e5e5;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 50px 90px;
}

.footer-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.contact-us__list__item {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  padding-left: 66px;
  margin-bottom: 25px;
}

.contact-us__list__item:last-child {
  margin-bottom: 0;
}

.contact-us__list__item::before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-us_phone::before {
  background-image: url(./images/footer/phone.png);
}

.contact-us_mail::before {
  background-image: url(./images/footer/mail.png);
}

.contact-us_skype::before {
  background-image: url(./images/footer/skype.png);
}

.contact-us_address::before {
  background-image: url(./images/footer/address.png);
}

.subscriptions__label {
  font-size: 24px;
  font-weight: 300;
}

.subscriptions__email {
  margin-bottom: 50px;
}

.subscriptions__email__input {
  width: 450px;
  margin-top: 20px;
  margin-right: 33px;
}

.subscriptions__email__button {
  width: 170px;
  height: 60px;
  text-transform: uppercase;
  font-size: 24px;
  border-radius: 3px;
}

.socials-list {
  display: flex;
}

.socials-list__item:not(:last-child) {
  margin-right: 48px;
}

.socials-list__item__link:hover svg path {
  fill: #ffca62;
}

.socials-list__item__title {
  font-size: 0;
}

.footer {
  position: relative;
}

.footer::before {
  position: absolute;
  content: '';
  width: 100%;
  border-top: 1px solid #e5e5e5;
  bottom: 96px;
  left: 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 26px 0 34px 0;
}

.footer__bottom__logo {
  font-size: 36px;
  font-weight: 900;
}

.footer__bottom__go-up-button {
  font-size: 0;
  width: 36px;
  height: 36px;
  background-image: url(./images/icons/goup.svg);
}

.footer__bottom__credentials {
  font-size: 24px;
  font-weight: 300;
}

/* routes aside filters */

.routes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 95px;
  margin-bottom: 190px;
}

.routes-aside {
  width: 360px;
  color: white;
  background-color: #3e3c41;
  padding: 15px 0;
}

.routes-aside__item {
  padding: 25px 30px;
}

.routes-aside__item:not(:last-child) {
  border-bottom: 1px solid white;
}

.routes-aside__title {
  font-size: 30px;
  margin-bottom: 15px;
}

.routes-aside__date__input {
  width: 100%;
}

.routes-aside__date__input:not(:last-child) {
  margin-bottom: 30px;
}

.service-list__item {
  position: relative;
  height: 28px;
  line-height: 28px;
}

.service-list__item__label {
  font-size: 18px;
  padding-left: 90px;
}

.service-list__item__switch:not(:last-child) {
  margin-bottom: 15px;
}

.service-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.service-list__item__switch::before {
  content: '';
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.service-list__item__second-class::before {
  background-image: url(./images/icons/second-class.svg);
}

.service-list__item__third-class::before {
  background-image: url(./images/icons/third-class.svg);
}

.service-list__item__fourth-class::before {
  background-image: url(./images/icons/fourth-class.svg);
}

.service-list__item__first-class::before {
  background-image: url(./images/icons/first-class.svg);
}

.service-list__item__wi-fi::before {
  background-image: url(./images/icons/wifi.svg);
}

.service-list__item__express::before {
  background-image: url(./images/icons/express.svg);
}

.routes-aside__span {
  display: block;
  font-size: 24px;
  margin-bottom: 19px;
}

.routes-aside__span:last-of-type {
  text-align: end;
}

.routes-aside__price .rc-slider {
  margin-bottom: 38px;
}

.routes-aside__direction-there .rc-slider:first-of-type,
.routes-aside__direction-back .rc-slider:first-of-type {
  margin-bottom: 84px;
}

.routes-aside__direction-there .rc-slider:last-of-type,
.routes-aside__direction-back .rc-slider:last-of-type {
  margin-bottom: 43px;
}

.routes-aside__item__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 44px;
}

.routes-aside__item__header::before {
  position: absolute;
  content: '';
  width: 32px;
  height: 26px;
  left: 0;
  top: 5.5px;
  background-repeat: no-repeat;
  background-position: center;
}

.routes-aside__direction-there__header .routes-aside__title,
.routes-aside__direction-back__header .routes-aside__title {
  font-weight: 700;
}

.routes-aside__direction-there__header::before {
  background-image: url(./images/icons/arrow.svg);
}

.routes-aside__direction-back__header::before {
  background-image: url(./images/icons/arrow.svg);
  transform: scaleX(-1);
}

.routes-aside__item__header__collapse-button {
  width: 37px;
  height: 37px;
  background-image: url(./images/icons/collapse.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

/* routes aside details */

.routes-aside_details {
  padding: 0;
}

.routes-aside_details .routes-aside__item:first-child {
  height: 107px;
}

.routes-aside_details .routes-aside__item__header {
  margin-bottom: 35px;
}

.routes-aside__details-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 56px;
  text-align: center;
  text-transform: uppercase;
}

.routes-aside__date {
  font-size: 18px;
  line-height: 45px;
}

.routes-aside__details__item__row {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.routes-aside__details__item__row:not(:last-child) {
  margin-bottom: 20px;
}

.routes-aside__details__item__row:last-child {
  align-items: flex-end;
}

.routes-aside__details__item__row__title {
  font-size: 18px;
  color: #e5e5e5;
}

.routes-aside__details__item__column_right,
.routes-aside__details__item__column_left {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.routes-aside__details__item__column_right {
  align-items: flex-end;
  text-align: end;
}

.routes-aside__details__item__column_left {
  align-items: flex-start;
}

.routes-aside__details__item__train-number {
  font-size: 24px;
  font-weight: 700;
}

.routes-aside__details__item__train-route {
  font-size: 16px;
  font-weight: 700;
}

.routes-aside__direction-there
  .routes-aside__details__item
  .routes-aside__details__item__row:nth-child(2),
.routes-aside__direction-back
  .routes-aside__details__item
  .routes-aside__details__item__row:nth-child(2) {
  margin-bottom: 70px;
}

.routes-aside__details__train-to__time,
.routes-aside__details__train-from__time {
  font-size: 24px;
  font-weight: 700;
}

.routes-aside__details__train-to__date,
.routes-aside__details__train-from__date {
  font-size: 18px;
  color: #928f94;
}

.routes-aside__details__duration {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.routes-aside__details__duration::after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 20px;
  background-image: url(./images/icons/arrow-train.svg);
  top: 27px;
  left: calc(50% - 15px);
}

.routes-aside__direction-back .routes-aside__details__duration::after {
  transform: scaleX(-1);
}

.routes-aside__details__train-to__city,
.routes-aside__details__train-from__city {
  font-size: 18px;
}

.routes-aside__details__train-to__railway-stantion,
.routes-aside__details__train-from__railway-stantion {
  color: #928f94;
}

.routes-aside__passengers__header::before {
  background-image: url(./images/icons/passenger.svg);
}

.routes-aside__passengers__title {
  font-size: 18px;
}

.routes-aside__passengers__desc {
  font-size: 24px;
  font-weight: 700;
}

.routes-aside__total-price .routes-aside__details__item__column_right,
.routes-aside__passengers .routes-aside__details__item__column_right {
  flex-direction: row;
  align-items: center;
}

.routes-aside__passengers .routes-aside__details__item__column_right svg {
  margin-left: 7px;
}

.routes-aside__total-price .routes-aside__details__item__column_right svg {
  margin-left: 14px;
}

.routes-aside__total-price__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.routes-aside__total-price__desc {
  font-size: 48px;
  font-weight: 700;
  color: #ffa800;
}

.routes-aside__total-price__desc.routes-aside__details__item__column_right {
  max-width: unset;
}

/* checkbox slider */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-slider {
  width: 72px;
  height: 20px;
  position: absolute;
  background-color: white;
  border-radius: 34px;
  right: 0;
  top: 4px;
  transition: 0.4s;
  cursor: pointer;
}

/* FIXME корявый transition цвета ::before */

.checkbox-slider:before {
  position: absolute;
  content: '';
  width: 28px;
  height: 28px;
  background-color: #c4c4c4;
  border-radius: 50%;
  bottom: -4px;
  left: 0;
  transition: 0.4s;
}

input:checked + .checkbox-slider {
  background-color: #fcdc9d;
}

input:checked + .checkbox-slider:before {
  background-color: #ffa800;
  transform: translateX(44px);
}

/* "input range" (override rc-slider styles) */

.rc-slider {
  margin-bottom: 84px;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border: none;
  box-shadow: none;
}

.rc-slider-tooltip-inner {
  font-size: 16px;
  color: #e5e5e5;
  background-color: transparent;
  box-shadow: none;
}

/* routes main tickets */

.routes-main {
  width: 960px;
}

.routes-main__header {
  display: flex;
  justify-content: space-between;
  color: #928f94;
  margin-bottom: 47px;
}

.routes-main__header span {
  margin-right: 5px;
}

.routes-main__header__sort-by {
  position: relative;
  display: flex;
  width: 250px;
  margin-left: auto;
  margin-right: 5px;
}

.custom-select {
  position: absolute;
  background-color: #f7f5f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: -10px;
  right: 0;
}

.custom-select__item {
  color: black;
  padding: 10px 7px;
  border: 1px solid #e5e5e5;
  border-top: none;
}

.routes-main__header__show-count a:not(:last-child) {
  margin-right: 5px;
}

.routes-main__train-list__item {
  display: flex;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.routes-main__train-list__item:hover {
  border: 1px solid #ffa800;
}

.routes-main__train-list__item:not(:last-child) {
  margin-bottom: 47px;
}

.train__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 197px;
  background-color: #e4e0e9;
  padding: 25px 0;
}

.train__info div {
  display: flex;
  flex-direction: column;
}

.train__info__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.train__info__icon {
  width: 86px;
  height: 86px;
  /* margin-left: 20px; */
}

.train__info__train-number {
  font-size: 24px;
  font-weight: 500;
  color: #3e3c41;
  margin: 20px 0;
}

.train__info__city-start {
  color: #928f94;
}

.train__directions {
  width: 480px;
  background-color: white;
  padding: 55px 40px;
}

.train__directions__row {
  display: flex;
  justify-content: space-between;
}

.train__directions__row:not(:last-child) {
  margin-bottom: 65px;
}

.train__directions__from,
.train__directions__to {
  display: flex;
  flex-direction: column;
}

.train__directions__time {
  font-size: 24px;
  font-weight: 700;
}

.train__directions__city {
  font-size: 18px;
}

.train__directions__railway-stantion {
  color: #928f94;
}

.train__directions__duration {
  position: relative;
}

.train__directions__duration__time {
  color: #c4c4c4;
}

.train__directions__duration__time::after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 20px;
  background-image: url(./images/icons/arrow-train.svg);
  top: 20px;
  left: calc(50% - 15px);
}

.train__directions__duration__time.duration-time_back::after {
  transform: scaleX(-1);
}

.train__options {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 283px;
  background-color: white;
  padding: 20px;
  border-left: 1px dashed #e5e5e5;
}

.train__options__seats {
  width: 100%;
  margin-bottom: auto;
}

.train__options__seats > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.train__options__seats__type {
  width: 85px;
}

.train__options__seats__amount {
  color: #ffa800;
  font-weight: 500;
  padding: 0 5px;
}

.train__options__seats__price {
  position: relative;
  width: 115px;
  padding-right: 18px;
  margin-bottom: -2px;
}

.train__options__seats__price::after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 19px;
  background-image: url(./images/icons/rouble.svg);
  bottom: 5px;
  right: 0;
}

.train__options__seats__price span {
  font-size: 24px;
  font-weight: 700;
}

.train__options__seats__services-list {
  display: flex;
  margin-bottom: 15px;
  margin-left: auto;
}

.train__options__seats__services-list__item {
  width: 20px;
  height: 20px;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.train__options__seats__services-list__item:not(:last-child) {
  margin-right: 10px;
}

.train-options__wi-fi {
  background-image: url(./images/icons/wifi.svg);
}

.train-options__express {
  background-image: url(./images/icons/express.svg);
}

.train-options__lunch {
  background-image: url(./images/icons/coffee.svg);
}

.train-options__conditioner {
  background-image: url(./images/icons/conditioner.svg);
}

.train__options__proceed-ordering {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 25px;
}

/* pagination */

.pagination {
  float: right;
  margin-top: 140px;
}

.pagination__item {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 75px;
  color: #928f94;
  line-height: 75px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  vertical-align: bottom;
}

.pagination__item:not(:last-child) {
  margin-right: 35px;
}

.pagination__item:not(.pagination__between):hover {
  border-color: #ffa800;
  background-color: #ffa800;
  color: white;
}

.pagination__item:not(.pagination__between):hover .pagination__prev__svg-path,
.pagination__item:not(.pagination__between):hover .pagination__next__svg-path {
  fill: white;
}
.pagination__item:not(.pagination__between):active .pagination__prev__svg-path,
.pagination__item:not(.pagination__between):active .pagination__next__svg-path {
  fill: #ffa800;
}

.pagination__item:not(.pagination__between):active {
  border-color: #ffa800;
  background-color: transparent;
  color: #ffa800;
}

.pagination__between {
  font-size: 50px;
  cursor: default;
}

.pagination__prev {
  transform: scaleX(-1);
}

.pagination__prev svg,
.pagination__next svg {
  position: absolute;
  top: calc(75px / 2 - 29px / 2);
  left: calc(85px / 2 - 18px / 2);
}

/* routes main seat select */

.routes-main__title {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.train-detailed {
  width: 960px;
  background: white;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding-top: 36px;
  padding-bottom: 80px;
}

.train-detailed_there {
  margin-bottom: 30px;
}

.train-detailed_back .train-detailed__change-train {
  display: flex;
  justify-content: flex-end;
}

.train-detailed__change-train_there,
.train-detailed__change-train_back {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding: 15px 33px;
  margin-left: 105px;
  margin-bottom: 30px;
}

.train-detailed__change-train_there::before,
.train-detailed__change-train_back::before {
  content: '';
  display: block;
  position: absolute;
  width: 76px;
  height: 60px;
  background-image: url(./images/icons/arrow_big.svg);
  background-repeat: no-repeat;
  top: 0;
  left: -86px;
}

.train-detailed__change-train_back {
  margin-right: 24px;
}

.train-detailed__change-train_back::before {
  transform: scaleX(-1);
}

.train-detailed__info {
  display: flex;
  justify-content: center;
  min-height: 123px;
  background-color: #f7f6f6;
  margin-bottom: 40px;
}

.train-detailed__info__train {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  padding-left: 90px;
}

.train-detailed__info__train::before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(./images/icons/train_orange.svg);
  background-repeat: no-repeat;
  top: calc(50% - 30px / 2);
  left: 36px;
}

.train-detailed__info__train__train-number {
  font-size: 24px;
  font-weight: 700;
  color: #3e3c41;
  margin-bottom: 5px;
}

.train-detailed__info__train__city-start {
  color: #928f94;
}

.train-detailed__info__direction {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.train-detailed__info__direction::after {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 20px;
  background-image: url(./images/icons/arrow-train.svg);
  background-repeat: no-repeat;
  top: calc(50% - 20px / 2);
  left: calc(50% - 30px / 2);
}

.train-detailed__info__direction__from,
.train-detailed__info__direction__to {
  display: flex;
  flex-direction: column;
  margin: 0 36px;
}

.train-detailed__info__direction__time {
  font-size: 24px;
  font-weight: 700;
}

.train-detailed__info__direction__city {
  font-size: 18px;
}

.train-detailed__info__direction__railway-stantion {
  color: #928f94;
}

.train-detailed__info__dutarion {
  width: 240px;
  flex-shrink: 0;
}

.train-detailed__info__dutarion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.train-detailed__info__dutarion::before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(./images/icons/clock.svg);
  background-repeat: no-repeat;
  top: calc(50% - 30px / 2);
  left: 35px;
}

.train-detailed__info__title {
  font-size: 30px;
  font-weight: 700;
  padding-left: 20px;
  margin-bottom: 30px;
}

.train-detailed__tickets-amount {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dashed #c4c4c4;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.train-detailed__tickets-amount .train-detailed__info__title {
  width: 100%;
}

.train-detailed__tickets-amount__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.333%;
  padding: 20px 0;
  border: 1px solid transparent;
}

.train-detailed__tickets-amount__item:hover {
  border: 1px solid rgba(255, 168, 0, 0.79);
}

.train-detailed__tickets-amount__item:focus-within {
  color: black;
  background-color: #f7f6f6;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.train-detailed__tickets-amount__input-wrapper {
  display: flex;
  width: 240px;
  margin-bottom: 23px;
}

.train-detailed__tickets-amount__label,
.train-detailed__tickets-amount__input {
  display: inline-block;
  height: 50px;
  background-color: white;
  border-top: 1px solid #928f94;
  border-bottom: 1px solid #928f94;
  border-radius: 0;
  vertical-align: middle;
  font-size: 18px;
  line-height: 50px;
  padding: 0;
}

.train-detailed__tickets-amount__label {
  padding-left: 15px;
  padding-right: 5px;
  border-left: 1px solid #928f94;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.train-detailed__tickets-amount__input {
  flex-grow: 1;
  border-right: 1px solid #928f94;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
}

#tickets-amount_child-free {
  width: 10px;
}

.train-detailed__tickets-amount__description {
  width: 240px;
  color: transparent;
}

.train-detailed__tickets-amount__item:hover .train-detailed__tickets-amount__description {
  color: #928f94;
}

.train-detailed__tickets-amount__item:focus-within .train-detailed__tickets-amount__description {
  color: black;
}

.train-detailed__info__title {
  margin-bottom: 25px;
}

.train-detailed__coach__type {
  display: flex;
  margin-bottom: 25px;
}

.train-detailed__coach__type__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.train-detailed__coach__type__item svg {
  margin-bottom: 18px;
}

.train-detailed__coach__type__item span {
  font-size: 24px;
  color: #928f94;
}

.train-detailed__coach__seats__coaches__avaliable {
  height: 37px;
  line-height: 37px;
  background-color: rgba(255, 168, 0, 0.44);
  padding: 0 25px;
}

.train-detailed__coach__seats__coaches__avaliable span:first-child {
  font-size: 18px;
}

.train-detailed__coach__seats__coaches__avaliable span:last-child {
  float: right;
}

.train-detailed__coach__seats__coaches__avaliable__number {
  font-size: 24px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  margin-left: 5px;
}

.train-detailed__coach__seats__coaches__avaliable__number_active {
  color: white;
}

.train-detailed__coach__seats__coaches__info {
  display: flex;
  margin-bottom: 70px;
}

.train-detailed__coach__seats__coaches__info__number {
  width: 190px;
  height: 160px;
  font-size: 24px;
  background-color: #ffd98f;
  padding-left: 37px;
  padding-top: 30px;
  margin-right: 85px;
}

.train-detailed__coach__seats__coaches__info__number span {
  display: block;
}

.train-detailed__coach__seats__coaches__info__number span:first-child {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: -15px;
}

.train-detailed__coach__seats__coaches__info__item {
  flex: 1 1 0;
  margin-top: 30px;
}

.seats-info__row:not(:last-child) {
  margin-bottom: 20px;
}

.seats-info__title {
  font-size: 18px;
  color: #928f94;
  margin-right: 10px;
}

.seats-info__type {
  font-size: 24px;
  margin-right: 10px;
}

.seats-info__amount,
.seats-info__price {
  font-size: 24px;
  font-weight: 700;
}

.seats-info__service-company {
  color: #c4c4c4;
}

.seats-info__services {
  display: flex;
}

.seats-info__services__item input {
  opacity: 0;
  width: 0;
  height: 0;
}

.seats-info__services__item {
  position: relative;
  margin-right: 13px;
}

.seats-info__services__item:hover input:not(:disabled) + .seats-info__services__item__icon {
  fill: #ffa800;
  cursor: pointer;
}

.seats-info__services__item:hover input:not(:disabled) + .seats-info__services__item__icon rect {
  stroke: #292929;
}

.seats-info__services__item:hover input:not(:disabled) + .seats-info__services__item__icon path {
  fill: #292929;
}

input:checked + .seats-info__services__item__icon {
  fill: #fdb935;
}

input:checked + .seats-info__services__item__icon rect {
  stroke: #fdb935;
}

input:checked + .seats-info__services__item__icon path {
  fill: #f4f2f6;
}

input:disabled + .seats-info__services__item__icon {
  fill: #fcdc9d;
}

input:disabled + .seats-info__services__item__icon rect {
  stroke: #fcdc9d;
}

input:disabled + .seats-info__services__item__icon path {
  fill: #928f94;
}

.seats-info__services__item__tooltip {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: #292929;
  background-color: #f5f4f6;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  white-space: nowrap;
}

.seats-info__services__item__tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent transparent #f5f4f6 transparent;
}

.routes-main__proceed-button {
  float: right;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 70px;
  margin-top: 100px;
}

/* coach */

.train-detailed__coach__seats-selector {
  display: flex;
  flex-direction: column;
}

.coach {
  display: flex;
  border: 3px solid #999999;
  border-radius: 10px;
  margin: 0 auto;
}

.coach__coach-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coach__coach-side span {
  transform: rotate(-90deg);
  width: 50px;
}

.coach__top-seats,
.coach__bottom-seats,
.coach__side-seats {
  position: relative;
  display: flex;
}

.coach__seat-number {
  width: 27px;
  height: 27px;
  position: relative;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
  background-color: #f2f2f2;
  cursor: pointer;
}

.coach__seat-number:not(.coach__seat-number_disabled):hover {
  background-color: #ffd98f;
}

.coach__seat-number:nth-child(2n - 1) {
  margin-right: 27px;
  border-left: 3px solid #999999;
}

.coach__seat-number:last-child,
.coach__side-seats_empty {
  border-right: 3px solid #999999;
}

.coach__side-seats_empty {
  width: 100%;
  border-left: 3px solid #999999;
}

.coach__bottom-seats .coach__seat-number {
  border-bottom: 3px solid #999999;
}

.coach__seat-number_disabled {
  color: #f2f2f2;
  background-color: #cccccc;
  cursor: default;
}

.coach__seat-number_selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #ffa800;
}

.coach_first-class .coach__seat-number {
  display: flex;
  height: 54px;
  justify-content: center;
  align-items: flex-end;
}

.coach__empty-cell_hallway,
.coach__side-seats {
  height: 27px;
}

.coach__side-seats .coach__seat-number {
  width: 100%;
  margin-right: 0;
}

.coach__fourth-class__row {
  display: flex;
}

.coach__fourth-class__row .coach__seat-number {
  height: 19px;
  line-height: 19px;
  border: none;
}

.coach__seat-number_empty {
  width: 27px;
  height: 19px;
}

.coach__first-row,
.coach__second-row,
.coach_fourth-class .coach__empty-cell_hallway {
  border-left: 3px solid #999999;
  border-right: 3px solid #999999;
}

.coach__third-row {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.coach__fourth-row {
  border-left: 3px solid transparent;
  border-right: 3px solid #999999;
}

.coach__first-row {
  padding: 3px 5px;
}

.coach__second-row {
  padding-left: 5px;
  padding-right: 5px;
}

.coach__third-row {
  padding-left: 5px;
  padding-right: 5px;
}

.coach__fourth-row {
  padding: 3px 5px;
}

.coach__first-row .coach__seat-number:not(:last-child),
.coach__second-row .coach__seat-number:not(:last-child),
.coach__third-row .coach__seat-number,
.coach__third-row .coach__seat-number_empty:not(:last-child),
.coach__fourth-row .coach__seat-number:not(:last-child) {
  margin-right: 13px;
}

/* routes main passengers */

.routes-main__passenger-card {
  display: flex;
  flex-direction: column;
  color: #292929;
  background-color: white;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.routes-main__passenger-card:not(:last-of-type) {
  margin-bottom: 45px;
}

.routes-main__passenger-card input {
  height: 50px;
  font-size: 24px;
  border: 1px solid #928f94;
  border-radius: 5px;
  padding: 0 15px;
  margin-top: 10px;
}

.routes-main__passenger-card__header,
.routes-main__add-passenger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 107px;
  background-color: #f9f9f9;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 40px;
}

.routes-main__add-passenger {
  height: 97px;
  background-color: white;
  color: #292929;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.routes-main__passenger-card_closed .routes-main__passenger-card__header {
  height: 97px;
  background-color: white;
}

.routes-main__passenger-card__header__title {
  position: relative;
  padding-left: 48px;
}

.routes-main__passenger-card__header__title::after {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(./images/icons/collapse_round.svg);
  top: 3px;
  left: 0;
}

.routes-main__passenger-card__header__delete-button,
.routes-main__add-passenger__add-button {
  color: #928f94;
  background-color: transparent;
  border: none;
}

.routes-main__add-passenger__add-button {
  color: #ffa800;
  transform: rotate(45deg);
}

.routes-main__passenger-card_closed .routes-main__passenger-card__header__title::after {
  background-image: url(./images/icons/expand_round.svg);
}

.routes-main__passenger-card_closed .routes-main__passenger-card__header__delete-button {
  display: none;
}

.routes-main__passenger-card__personal-info {
  border-top: 1px dashed #928f94;
  padding: 38px 35px 31px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 45px;
}

.routes-main__passenger-card__personal-info__age,
.routes-main__passenger-card__document__type {
  appearance: none;
  width: 250px;
  font-size: 24px;
  border: 1px solid #928f94;
  border-radius: 5px;
  padding: 10px 13px;
  outline: none;
}

.select-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: #928f94 transparent transparent transparent;
  top: calc(50% - 3px);
  right: 20px;
}

.routes-main__passenger-card__personal-info label,
.routes-main__passenger-card__personal-info__gender__title,
.routes-main__passenger-card__document label {
  color: #928f94;
}

.routes-main__passenger-card__personal-info__full-name {
  display: flex;
  justify-content: space-between;
}

.routes-main__passenger-card__personal-info__full-name {
  margin-bottom: 50px;
}

.routes-main__passenger-card__personal-info__full-name input {
  width: 280px;
}

.routes-main__passenger-card__personal-info__gender-and-dob {
  display: flex;
  margin-bottom: 45px;
}

.routes-main__passenger-card__personal-info__gender {
  margin-right: 35px;
}

.routes-main__passenger-card__personal-info__gender label {
  display: inline-block;
  width: 100px;
  height: 50px;
  font-size: 30px;
  font-weight: 900;
  line-height: 50px;
  border: 1px solid #928f94;
  color: black;
  text-align: center;
  margin-top: 10px;
}

.routes-main__passenger-card__personal-info__gender label:not(:first-of-type) {
  margin-left: -1px;
}

.routes-main__passenger-card__personal-info__gender label:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.routes-main__passenger-card__personal-info__gender label:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.routes-main__passenger-card__personal-info__gender input,
.routes-main__passenger-card__personal-info__limited-mobility input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.routes-main__passenger-card__personal-info__gender input:checked + label {
  background-color: #ffa800;
}

.routes-main__passenger-card__personal-info__limited-mobility label {
  position: relative;
  padding-left: 48px;
}

.routes-main__passenger-card__personal-info__limited-mobility label::before {
  position: absolute;
  display: block;
  content: '';
  width: 28px;
  height: 28px;
  border: 1px solid #928f94;
  border-radius: 5px;
  top: calc(50% - 15px);
  cursor: pointer;
}

.routes-main__passenger-card__personal-info__limited-mobility input:checked + label::before {
  border-color: #ffa800;
  background-image: url(./images/icons/checkmark.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.routes-main__passenger-card__document {
  display: flex;
  border-top: 1px dashed #928f94;
  border-bottom: 1px dashed #928f94;
  padding: 35px;
}

.routes-main__passenger-card__document label:not(:first-child) {
  margin-left: 35px;
}

.routes-main__passenger-card__document__type {
  margin-top: 10px;
}

.routes-main__passenger-card__document input {
  letter-spacing: 0.5ch;
  background: repeating-linear-gradient(
      to right,
      #c4c4c4 0 1ch,
      transparent 0.5ch calc(1ch + 0.5ch)
    )
    bottom/100% 2px content-box no-repeat;
  background-position: 0 75%;
}

#passport-series {
  width: calc(4 * (1ch + 0.5ch) + 30px);
}

#passport-number {
  width: calc(6 * (1ch + 0.5ch) + 30px);
}

#birth-certificate {
  width: calc(12 * (1ch + 0.5ch) + 30px);
}

.routes-main__passenger-card__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 117px;
  padding: 0 30px;
}

.routes-main__passenger-card__footer__next-passenger-button {
  height: 52px;
  font-size: 24px;
  background-color: transparent;
  padding: 0 23px;
}

.routes-main__passenger-card__footer_error {
  justify-content: start;
  background-color: rgba(255, 61, 0, 0.38);
}

.routes-main__passenger-card__footer_correct {
  justify-content: space-between;
  color: white;
  background-color: #b2f6a1;
}

.routes-main__passenger-card__footer__message {
  position: relative;
  padding-left: 48px;
  font-size: 18px;
}

.routes-main__passenger-card__footer__message::after {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(./images/icons/error.svg);
  top: calc(50% - 16px);
  left: 0;
}

.routes-main__passenger-card__footer_correct .routes-main__passenger-card__footer__message::after {
  background-image: url(./images/icons/correct.svg);
}

.routes-main__passenger-card__footer__message span {
  font-weight: 700;
}

/* routes main payment */

.routes-main__payment {
  display: flex;
  flex-direction: column;
  color: #292929;
  background-color: white;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.routes-main__payment > div:not(:last-child),
.routes-main__payment__personal-info__payment-method:not(:last-child) {
  border-bottom: 1px dashed #928f94;
}

.routes-main__payment__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 107px;
  background-color: #f9f9f9;
  font-size: 30px;
  padding-left: 30px;
  padding-right: 40px;
}

.routes-main__payment label {
  color: #928f94;
}

.routes-main__payment input {
  height: 50px;
  font-size: 24px;
  border: 1px solid #928f94;
  border-radius: 5px;
  padding: 0 15px;
  margin-top: 10px;
}

.routes-main__payment__body {
  padding: 30px 35px 90px;
}

.routes-main__payment__personal-info__full-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.routes-main__payment__personal-info__full-name input {
  width: 280px;
}

.routes-main__payment__personal-info__phone {
  margin-bottom: 38px;
}

.routes-main__payment__personal-info__phone input,
.routes-main__payment__personal-info__mail input {
  width: 360px;
}

.routes-main__payment__personal-info__payment-method {
  padding: 50px 35px 80px 35px;
}

.routes-main__payment__personal-info__payment-method input {
  opacity: 0;
  width: 0;
  height: 0;
}

.routes-main__payment__personal-info__payment-method label {
  position: relative;
  font-size: 24px;
  padding-left: 48px;
}

.routes-main__payment__personal-info__payment-method label::before {
  position: absolute;
  display: block;
  content: '';
  width: 28px;
  height: 28px;
  border: 1px solid #928f94;
  border-radius: 5px;
  top: calc(50% - 15px);
  cursor: pointer;
}

.routes-main__payment__personal-info__payment-method input:checked + label::before {
  border-color: #ffa800;
  background-image: url(./images/icons/checkmark.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.routes-main__payment__personal-info__payment-method__list {
  display: flex;
  margin-top: 24px;
}

.routes-main__payment__personal-info__payment-method__item {
  max-width: 190px;
  font-size: 24px;
  font-weight: 700;
}

.routes-main__payment__personal-info__payment-method__item:not(:last-child) {
  margin-right: 100px;
}

/* routes main verification */

.routes-main__verification__item {
  background-color: white;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.routes-main__verification__item:not(:last-child) {
  margin-bottom: 45px;
}

.routes-main__verification__header {
  height: 95px;
  font-size: 30px;
  line-height: 95px;
  border-bottom: 1px solid #928f94;
  padding: 0 30px;
}

.routes-main__verification__item:not(:first-child) .routes-main__verification__body {
  display: flex;
  justify-content: space-between;
}

.routes-main__verification__passengers__side-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 283px;
  border-left: 1px dashed #e5e5e5;
  padding: 20px;
}

.routes-main__verification__change {
  width: 100%;
  height: 40px;
  font-size: 24px;
  font-weight: 700;
}

.routes-main__verification__train .routes-main__train-list__item {
  box-shadow: none;
  border: none;
}

.routes-main__verification__passengers__list {
  width: 100%;
  padding: 30px 0;
}

.routes-main__verification__passengers__list__item {
  display: flex;
  padding: 30px 0;
}

.routes-main__verification__passengers__list__item:not(:first-child) {
  border-top: 1px dashed #e5e5e5;
}

.routes-main__verification__passengers__list__item__ticket-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 156px;
  font-size: 18px;
  padding: 0 35px;
}

.routes-main__verification__passengers__list__item__ticket-type img {
  width: 68px;
  height: 68px;
  margin-bottom: 15px;
}

.routes-main__verification__passengers__list__item__ticket-details {
  display: flex;
  flex-direction: column;
}

.routes-main__verification__passengers__list__item__ticket-details span {
  font-size: 18px;
  color: #928f94;
  margin-bottom: 5px;
}

.routes-main__verification__passengers__list__item__ticket-details span:first-child {
  color: #292929;
  margin-bottom: 10px;
}

.routes-main__verification__passengers__total-price {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-bottom: 30px;
}

.routes-main__verification__passengers__total-price span:not(:first-child) {
  font-weight: 700;
}

.routes-main__verification__passengers__total-price svg {
  margin-left: 7px;
}

.routes-main__verification__payment__type {
  font-size: 24px;
  padding: 45px 30px 76px;
}

/* ordering succeeded */

.header-ordering-succeeded {
  height: 835px;
  background-image: url(./images/header/header-ordering-succeeded.png);
}

.succeed-wrapper {
  position: relative;
  height: 1230px;
}

.succeed {
  position: absolute;
  width: 1404px;
  height: 1230px;
  top: -310px;
  left: calc(50% - 1404px / 2);
}

.succeed__title {
  color: white;
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 50px;
}

.succeed__card {
  color: #292929;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.succeed__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 148px;
  font-size: 36px;
  background-color: white;
  border-bottom: 1px solid #928f94;
  padding: 0 80px;
}

.succeed__card__header__total-price {
  color: #928f94;
}

.succeed__card__header__total-price span {
  color: #292929;
}

.succeed__card__header__order-number,
.succeed__card__header__total-price span {
  font-weight: 700;
}

.succeed__card__header__total-price span,
.succeed__card__header__total-price span svg {
  margin-left: 10px;
}

.succeed__card__instructions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #f4f3f6;
  padding: 40px 0;
}

.succeed__card__instructions__item {
  max-width: 200px;
  text-align: center;
  font-size: 18px;
}

.succeed__card__instructions__item:not(:first-child) {
  margin-left: 140px;
}

.succeed__card__instructions__item img {
  margin-bottom: 5px;
}

.succeed__card__instructions__item span {
  font-weight: 500;
}

.succeed__card__info {
  font-size: 24px;
  background-color: white;
  padding: 95px 200px 130px;
}

.succeed__card__info h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.succeed__card__info p:not(.succeed__card__info__thank-you) {
  margin-bottom: 90px;
}

.succeed__card__info__thank-you {
  font-weight: 700;
}

.succeed__card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 165px;
  font-size: 24px;
  background-color: rgba(255, 168, 0, 0.88);
  padding: 0 80px;
}

.succeed__card__footer__rate {
  display: flex;
  align-items: center;
}

.succeed__card__footer__rate span {
  padding-top: 10px;
  margin-right: 30px;
}

.succeed__card__footer__rate__star {
  margin-right: 20px;
}

.succeed__card__footer__rate__star:hover {
  fill: white;
  cursor: pointer;
}

.succeed__card__footer__rate__star_active {
  fill: white;
}

.succeed__card__footer__back-to-homepage {
  background-color: transparent;
  border: 1px solid #3e3c41;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 12px;
}

.succeed__card__footer__back-to-homepage:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.succeed__card__footer__back-to-homepage:active {
  color: white;
  border-color: white;
}
