@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* all */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

li[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

input {
  height: 60px;
  border: none;
  border-radius: 3px;
  padding: 0 25px;
  font-size: 18px;
}

input::placeholder {
  color: #e5e5e5;
}

.wrapper {
  width: 1410px;
  height: 100%;
  margin: 0 auto;
}

/* buttons */

.btn {
  cursor: pointer;
}

.btn-icon {
  border: none;
  background-color: transparent;
}

.btn_white-border {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

.btn_white-border:hover {
  background-color: #ffca62;
  border: 1px solid #ffca62;
  border-radius: 5px;
  color: black;
}

.btn_white-border:active {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  color: black;
}

.btn_orange-black {
  background-color: #ffca62;
  border: 1px solid #ffca62;
  border-radius: 5px;
  color: black;
}

.btn_orange-black:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_orange-black:active {
  background-color: transparent;
  color: #ffca62;
}

/* header */

.header {
  position: relative;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-size: cover;
}

.header.header-main {
  background-image: url(./images/header/header-main.png);
  height: 985px;
  border-bottom: 8px solid #ffa800;
}

.header.header-routes {
  background-image: url(./images/header/header-routes.png);
  height: 690px;
}

.header__logo-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}

.header__logo {
  font-weight: 900;
  font-size: 36px;
  color: white;
  padding: 15px 0;
}

.header__navbar {
  background-color: #292929;
  height: 95px;
}

.header__navbar ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar__item {
  font-size: 30px;
  font-weight: 300;
  color: white;
  margin-right: 80px;
}

.navbar__item:last-child {
  margin-right: 0;
}

.header-routes {
  display: flex;
  flex-direction: column;
}

.header-main__block {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: inherit;
  bottom: 0;
}

.header-routes__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.header-main__block__route-selector,
.header-routes__block__route-selector {
  background-color: rgba(41, 41, 41, 0.8);
}

.header-main__block__route-selector {
  padding: 85px 25px 53px 20px;
  margin-right: -25px;
}

.route-selector_routes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 1490px;
  height: 323px;
  padding: 28px 43px 76px 43px;
}

.route-selector_routes .route-selector__submit-button {
  align-self: flex-end;
  margin-left: auto;
}

.route-selector input {
  width: 325px;
  outline: none;
}

.route-selector__row {
  position: relative;
}

.route-selector_main .route-selector__row {
  margin-bottom: 68px;
}

.route-selector_main .route-selector__row:last-child {
  margin-bottom: 92px;
}

.route-selector__swapper {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(./images/icons/swap.svg);
  bottom: calc(30px - 12px);
  left: calc(50% - 12px);
}

.header-main__block__tagline {
  color: white;
  font-weight: 200;
  font-size: 72px;
  padding-top: 170px;
  padding-left: 100px;
}

.tagline_bold {
  font-weight: 700;
}

.route-selector__direction-back,
.route-selector__date-from {
  margin-right: 37px;
}

.route-selector__direction-title,
.route-selector__date-title {
  color: white;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.route-selector__submit-button {
  width: 325px;
  height: 60px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  float: right;
}

.header-routes__block__stages {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 100px;
  width: 1490px;
}

.stages-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to right, #ffa800 50%, #3e3c41 50%);
  overflow: hidden;
}

.stages__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-align: center;
  background-color: #3e3c41;
}

.stages__item:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  transform: rotate(45deg) skew(10deg, 10deg);
  background-color: #3e3c41;
  right: -30px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-top-right-radius: 3px;
  z-index: 100;
}

.stages__item_active:not(:last-child)::after {
  background-color: #ffa800;
}

.stages__item_active {
  background-color: #ffa800;
}

.stages__item__count {
  width: 56px;
  height: 56px;
  font-size: 36px;
  line-height: 140%;
  border: 3px solid white;
  border-radius: 50%;
  margin-right: 23px;
}

/* about */

.homepage-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
}

.about {
  margin-top: 145px;
  margin-bottom: 125px;
}

.about__title {
  margin-bottom: 40px;
}

.about__body {
  position: relative;
  padding-left: 30px;
  max-width: 1170px;
}

.about__body::before {
  content: '';
  display: block;
  position: absolute;
  width: 9px;
  height: 100%;
  background-color: #ffa800;
  top: 0;
  left: 0;
}

.about__paragraph {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__paragraph_important {
  font-weight: 700;
}

/* how-it-works */

.how-it-works {
  background-image: url(./images/howitworks/background.png);
  background-color: #ffd600;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 70px;
  padding-bottom: 110px;
  margin-bottom: 150px;
}

.how-it-works__header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 90px;
}

.how-it-works__learn-more {
  width: 325px;
  font-weight: 700;
  font-size: 24px;
}

.how-it-works__body {
  display: flex;
  justify-content: space-between;
  width: 915px;
  margin: 0 auto;
}

.how-it-works__body__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
}

.how-it-works__body__card__image {
  margin-bottom: 30px;
}

.how-it-works__body__card__desc {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

/* reviews */

.reviews {
  margin-bottom: 145px;
}

.reviews__title {
  margin-bottom: 70px;
}

.review-card {
  display: flex;
  align-items: center;
}

.review-card__avatar {
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 30px;
}

.review-card__body {
  width: 400px;
}

.review-card__body__name {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

.review-card__body__text {
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: #928f94;
}

/* slider (override react-slick styles) */

.slick-track {
  margin-bottom: 135px;
}

.slick-dots li button {
  border-radius: 50%;
  background-color: #e5e5e5;
}

.slick-dots li.slick-active button {
  background-color: #c4c4c4;
}

.slick-dots li button:before {
  content: '';
}

/* footer */

.footer {
  background-color: #2d2b2f;
  color: #e5e5e5;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 50px 90px;
}

.footer-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.contact-us__list__item {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  padding-left: 66px;
  margin-bottom: 25px;
}

.contact-us__list__item:last-child {
  margin-bottom: 0;
}

.contact-us__list__item::before {
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-us_phone::before {
  background-image: url(./images/footer/phone.png);
}

.contact-us_mail::before {
  background-image: url(./images/footer/mail.png);
}

.contact-us_skype::before {
  background-image: url(./images/footer/skype.png);
}

.contact-us_address::before {
  background-image: url(./images/footer/address.png);
}

.subscriptions__label {
  font-size: 24px;
  font-weight: 300;
}

.subscriptions__email {
  margin-bottom: 50px;
}

.subscriptions__email__input {
  width: 450px;
  margin-top: 20px;
  margin-right: 33px;
}

.subscriptions__email__button {
  width: 170px;
  height: 60px;
  text-transform: uppercase;
  font-size: 24px;
  border-radius: 3px;
}

.socials-list {
  display: flex;
}

.socials-list__item:not(:last-child) {
  margin-right: 35px;
}

.socials-link_youtube {
  background-image: url(./images/socials/youtube.svg);
}

.socials-link_youtube:active {
  background-image: url(./images/socials/youtube_active.svg);
}

.socials-link_linkedin {
  background-image: url(./images/socials/linkedin.svg);
}

.socials-link_linkedin:active {
  background-image: url(./images/socials/linkedin_active.svg);
}

.socials-link_google-plus {
  background-image: url(./images/socials/google-plus.svg);
}

.socials-link_google-plus:active {
  background-image: url(./images/socials/google-plus_active.svg);
}

.socials-link_facebook {
  background-image: url(./images/socials/facebook.svg);
}

.socials-link_facebook:active {
  background-image: url(./images/socials/facebook_active.svg);
}

.socials-link_twitter {
  background-image: url(./images/socials/twitter.svg);
}

.socials-link_twitter:active {
  background-image: url(./images/socials/twitter_active.svg);
}

.socials-list__item__link {
  display: block;
  width: 50px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.socials-list__item__title {
  font-size: 0;
}

.footer {
  position: relative;
}

.footer::before {
  position: absolute;
  content: '';
  width: 100%;
  border-top: 1px solid #e5e5e5;
  bottom: 96px;
  left: 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 26px 0 34px 0;
}

.footer__bottom__logo {
  font-size: 36px;
  font-weight: 900;
}

.footer__bottom__go-up-button {
  font-size: 0;
  width: 36px;
  height: 36px;
  background-image: url(./images/icons/goup.svg);
}

.footer__bottom__credentials {
  font-size: 24px;
  font-weight: 300;
}

/* routes aside */

.routes {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
  margin-bottom: 190px;
}

.routes-aside {
  width: 360px;
  color: white;
  background-color: #3e3c41;
  padding: 15px 0;
}

.routes-aside__filter-item {
  padding: 25px 30px;
}

.routes-aside__filter-item:not(:last-child) {
  border-bottom: 1px solid white;
}

.routes-aside__title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}

.routes-aside__date__input {
  width: 100%;
}

.routes-aside__date__input:not(:last-child) {
  margin-bottom: 30px;
}

.service-list__item {
  position: relative;
  height: 28px;
  line-height: 28px;
}

.service-list__item__label {
  font-size: 18px;
  font-weight: 400;
  padding-left: 90px;
}

.service-list__item__switch:not(:last-child) {
  margin-bottom: 15px;
}

.service-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.service-list__item__switch::before {
  content: '';
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.service-list__item__coupe::before {
  background-image: url(./images/icons/coupe.svg);
}

.service-list__item__reserver-seat::before {
  background-image: url(./images/icons/reserved-seat.svg);
}

.service-list__item__seating::before {
  background-image: url(./images/icons/seating.svg);
}

.service-list__item__lux::before {
  background-image: url(./images/icons/lux.svg);
}

.service-list__item__wi-fi::before {
  background-image: url(./images/icons/wifi.svg);
}

.service-list__item__express::before {
  background-image: url(./images/icons/express.svg);
}

.routes-aside__span {
  display: block;
  font-size: 24px;
  margin-bottom: 19px;
}

.routes-aside__span:last-of-type {
  text-align: end;
}

.routes-aside__price .rc-slider {
  margin-bottom: 38px;
}

.routes-aside__direction-there .rc-slider:first-of-type,
.routes-aside__direction-back .rc-slider:first-of-type {
  margin-bottom: 84px;
}

.routes-aside__direction-there .rc-slider:last-of-type,
.routes-aside__direction-back .rc-slider:last-of-type {
  margin-bottom: 43px;
}

.routes-aside__filter-item__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 44px;
}

.routes-aside__filter-item__header::before {
  position: absolute;
  content: '';
  width: 32px;
  height: 26px;
  left: 0;
  top: 5.5px;
}

.routes-aside__direction-there__header .routes-aside__title,
.routes-aside__direction-back__header .routes-aside__title {
  font-weight: 700;
}

.routes-aside__direction-there__header::before {
  background-image: url(./images/icons/arrow.svg);
}

.routes-aside__direction-back__header::before {
  background-image: url(./images/icons/arrow.svg);
  transform: scaleX(-1);
}

.routes-aside__filter-item__header__collapse-button {
  width: 37px;
  height: 37px;
  background-image: url(./images/icons/collapse.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

/* checkbox slider */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-slider {
  width: 72px;
  height: 20px;
  position: absolute;
  background-color: white;
  border-radius: 34px;
  right: 0;
  top: 4px;
  transition: 0.4s;
  cursor: pointer;
}

.checkbox-slider:before {
  position: absolute;
  content: '';
  width: 28px;
  height: 28px;
  background-color: #c4c4c4;
  border-radius: 50%;
  bottom: -4px;
  left: 0;
  transition: 0.4s;
}

input:checked + .checkbox-slider {
  background-color: #fcdc9d;
}

input:checked + .checkbox-slider:before {
  background-color: #ffa800;
  transform: translateX(44px);
}

/* "input range" (override rc-slider styles) */

.rc-slider {
  margin-bottom: 84px;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border: none;
  box-shadow: none;
}

.rc-slider-tooltip-inner {
  font-size: 16px;
  color: #E5E5E5;
  background-color: transparent;
  box-shadow: none;
}

/* routes main */

.routes-main {
  width: 960px;
}
